<div class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
	<div class="navbar-header">
		<button type="button"
		 class="navbar-toggle"
		 data-toggle="collapse"
		 data-target=".navbar-collapse">
			<span class="sr-only">メニュー</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			<a href="#" class="navbar-brand navbar-left">サイトロゴ</a>
	</div>

	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">マイページ</a></li>
			<li><a href="#">お問い合わせ</a></li>
		</ul>
	</div>
</div><!-- container -->
</div>

<div class="container">

	<div id="header-img">
		<h1>学生×質問サイト</h1>
		<p>学生生活で疑問に感じたことが集まるサイト</p>
	</div>

	<div id="header-menu">
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default">大学生活</a>
			<a class="btn btn-default">経験</a>
			<a class="btn btn-default">就職活動</a>	
		</div>
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default">業界研究</a>
			<a class="btn btn-default">スキル</a>
			<a class="btn btn-default">なんでも</a>
		</div>
	</div>

	<div class="row">
	
	<div class="col-xs-12 col-sm-8">
		<p class="col8-title">ピックアップユーザ</p>
		<ul id="pickup-user">
			<li>
				<a href="#"><%= image_tag("noname.png", size: "50x50", alt: "ユーザアイコン") %>
				<p>Junpei Kusumoto</p></a>
			</li>
			<li>
				<a href="#"><%= image_tag("noname.png", size: "50x50", alt: "ユーザアイコン") %>
				<p>Junpei Kusumoto</p></a>
			</li>
			<li>
				<a href="#"><%= image_tag("noname.png", size: "50x50", alt: "ユーザアイコン") %>
				<p>Junpei Kusumoto</p></a>
			</li>
		</ul>
		<a href="#"><p id="more-user">もっとみる...</p></a>
		

		<div id="trend">
			<h1>trend</h1>
		</div>

		<p class="col8-title">質問を検索</p>
		<div id="search">
			<form method="post" action="#">
				<div class="row">
					<div class="col-xs-10">
						<input type="text" class="form-control" placeholder="質問を検索">
					</div>
					<button type="submit" class="btn col-xs-2 search-btn">検索</button>
				</div>
			</form>
		</div>
		

		<p class="col8-title2">質問一覧</p>
		<div id="archive">
			<div class="btn-group pull-right">
				<button class="btn dropdown-toggle" data-toggle="dropdown">New <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">New</a></li>
					<li><a href="#">Week</a></li>
					<li><a href="#">Month</a></li>
					<li><a href="#">Year</a></li>
				</ul>
			</div>
		</div>
		<ul class="list-group">
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...(truncate 70)　回答数０ Level順</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<p class="li-header"><%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="li-user-name">Junpei Kusumoto</span>
				<span class="li-level">Lv.10</span></p>
				<p class="li-title">タイトル</p>
				<p class="li-contents">質問内容を表示質問内容を表示質問内容を表示質問内容を表示質問内容を表示...</p>
			</li>
			</a>
		</ul>
	</div>

	<div class="hidden-xs col-sm-4">
		<div id="ad">
			<h1>Ad</h1>
		</div>

		<div id="login">
			<h1>ログインフォーム</h1>
		</div>

		<p id="col4-title">ユーザRanking (いいね獲得数/月)</p>
		<ul class="list-group">
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
			<a href="#">
			<li class="list-group-item">
				<%= image_tag("noname.png", size: "30x30", alt: "ユーザアイコン") %>
				<span class="user-name">Junpei Kusumoto</span>
				いいね数
			</li>
			</a>
		</ul>
	</div>

	</div><!-- row -->
</div><!-- container -->